.navigation{
    position: fixed;
    right: 0;
    left: 0;
    top:0;
    z-index: 1030;
    transition: .5s ease;
    padding: 1vw 10vw;
    background: rgba(0, 0, 0, 0);
}

.navigation-bar {
    position:relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0);
}

@media (max-width: 800px) {
    .navigation-bar {
        /*display: none;*/
        flex-direction: column;
        align-items: flex-start;
    }
}