.toggle-button {
    position: absolute;
    top: 1.5rem;
    right: .5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    padding: .3rem .3rem;
}

@media(max-width: 800px){
    .toggle-button{
        display: flex;
    }
}