.frame-container {
    position: relative;
}

.frame-inner-container {
    padding: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
    min-height: 50vh;
}

.frame-text-container{
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 40rem;
    color: #3b434a;
}

.frame-title-container {
    padding: 30px 0;
    position: relative;
}

.frame-title-container span {
    position: relative;
    color: rgba(0, 0, 0, 0.3);
    left: 0;
    right: 0;
    z-index: 1;
    font-weight: 700;
    font-size: 52px;
    text-transform: uppercase;
    line-height: 0;
}

.frame-caption-container {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    font-weight: 650;
}

.frame-description {
    width: 80%;
}


@media (max-width: 1180px) {

    .frame-inner-container {
        min-height: 50vh;
        padding: 1rem 12vw 10vw;
        width: 100%;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .frame-text-container{
        text-align: justify;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 40rem;
        color: #3b434a;
    }

    .frame-description {
        width: 100%;
        font-size: 12px;
    }

    .frame-text-container {
        overflow-x: hidden;
    }

    .frame-title-container span {
        position: relative;
        color: rgba(0, 0, 0, 0.3);
        left: 0;
        right: 0;
        z-index: 1;
        font-weight: 700;
        font-size: 25px;
        text-transform: uppercase;
        line-height: 0;
    }
}