.landing-page-container {
    position: relative;
}

.landing-page-inner-container {
    min-height: 100vh;
    padding: 15vw 12vw 10vw;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landing-page-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 40rem;
    color: #3b434a;
}

.landing-page-section-title {
    font-size: 80px;
}

.landing-page-section-description {
    font-size: 25px;
}

@media (max-width: 600px) {
    .landing-page-text-container {
        max-width: 30rem;
    }
}


