.landing-page-container {
    position: relative;
}

.landing-page-inner-container {
    min-height: 100vh;
    padding: 28vh 12vw 10vw;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landing-page-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 40rem;
    color: #3b434a;
}

.landing-page-section-title {
    font-size: 40px;
}

.landing-page-section-description {
    font-size: 20px;
}

@media (max-width: 800px) {
    .landing-page-container {
        width: 100%;
    }

    .landing-page-inner-container {
        min-height: 50vh;
        padding: 20vh 12vw 10vw;
        width: 100%;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .landing-page-text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 40rem;
        color: #3b434a;
    }
    
    .landing-page-section-title {
        font-size: 30px;
    }
    
    .landing-page-section-description {
        font-size: 15px;
        font-weight: bold;
    }

}

.landing-page-section-description-container{
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    padding: 10px;
}


