.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.circle {
    border-radius: 50%;
    background-color: rgba(249, 191, 59, 1);
    width: 150px;
    height: 150px;
    position: absolute;
    opacity: 0;
    animation: scaleIn 1s infinite cubic-bezier(.36, .11, .89, .32);
}

.item {
    z-index: 100;
    padding: 5px;
}

.item img {
    width: 150px;
}

@keyframes scaleIn {
    from {
        transform: scale(.5, .5);
        opacity: .5;
    }
    to {
        transform: scale(1.5, 1.5);
        opacity: 0;
    }
}
