.sections-links {
    flex-grow: 1;
    align-items: center;
    text-align: center;
    display: flex;
    flex-basis: auto;
    cursor: pointer;
}

.sections-links ul {
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: auto !important;
}

.sections-links li {
    list-style: none;
}

.sections-links li a {
    text-decoration: none;
    color: #3b434a;
    padding: 1rem;
    display: block;
}

.sections-links .active {
    font-weight: bolder;
}

.sections-links li a::after {
    content: '';
    position: relative;
    display: block;
    width: 0;
    height: 3px;
    background: #1F2D41;
    bottom: 0;
    left: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
}

.sections-links a:hover:after, .sections-links li:hover > a:after, .sections-links .active > a:after {
    visibility: visible;
    width: 30px;
}

@media (max-width: 800px) {
    .sections-links {
        display: none;
        width: 100%;
    }

    .sections-links ul {
        flex-direction: column;
        width: 100%;
    }

    .sections-links li {
        text-align: right;
    }

    .sections-links li a {
        padding: .7rem;
        text-shadow: 1px 1px 3px rgba(150, 150, 150, 1);
    }

    .sections-links .active {
        display: flex;
    }
}